/*
*
* Filename: theme.css
* Created: Aadarsha Shrestha (aadarsha.shrestha.nepal@gmail.com)
*
* CSS file to style index.html
* 
*/
body {
        margin: 0px;
        padding: 0px;
      }

canvas {
	margin-left: 80px;
}

h3 {
	margin-top:110px;
}

table {
	margin-top: 30px;
}

#footer {
    position : absolute;
    text-align: center;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    padding-left: 40%;
 }